<ion-header>
  <ion-navbar>
    <ion-title>{{mudanca.title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="jiraMudanca()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editMudanca()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let tarefa of tarefas">
    <ion-card-header  class="colorparag"  (click)="itemTapped($event, tarefa)" primary>{{tarefa.type}}</ion-card-header>
    
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "arquivo"'>{{tarefa.path}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "tabela"'>{{tarefa.alias}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "campo"'>{{tarefa.field}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "indice"'>{{tarefa.alias}} {{tarefa.ordem}} {{tarefa.nickname}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "changeset"'>{{tarefa.changeset}} {{tarefa.colection}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "fonte"'>{{tarefa.fonte}} {{tarefa.changeset}} {{tarefa.colection}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "parametro"'>{{tarefa.SX6.x6_var}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "gatilho"'>{{tarefa.field}} {{tarefa.ordem}}</ion-card-content>
    <ion-card-content class="colorparag"  (click)="itemTapped($event, tarefa)" *ngIf='tarefa.type === "consulta"'>{{tarefa.consulta}}</ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="primary" (click)="startTarefa(tarefa)">
          <ion-icon name="arrow-dropright"></ion-icon>
          <div>Iniciar</div>
        </button>
      </ion-col>
      <ion-col *ngIf='tarefa.status === "erro"'>
        <button ion-button icon-left clear small color="danger" (click)="resultTarefa(tarefa)">
          <ion-icon name="close"></ion-icon>
          <div>Erro</div>
        </button>
      </ion-col>
      <ion-col *ngIf='tarefa.status === "ok"'>
        <button ion-button icon-left clear small color="favorite" (click)="resultTarefa(tarefa)">
          <ion-icon name="checkmark"></ion-icon>
          <div >Ok</div>
        </button>
      </ion-col>
      <ion-col *ngIf='tarefa.status === "executando"'>
        <button ion-button icon-left clear small color="primary">
          <ion-icon name="refresh"></ion-icon>
          <div >Executando</div>
        </button>
      </ion-col>
      <ion-col *ngIf='tarefa.status === "indisponivel"'>
        <button ion-button icon-left clear small color="danger">
          <ion-icon name="alert"></ion-icon>
          <div >Serviço indisponível</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-fab right bottom>
    <button ion-fab mini class='item-divider' (click)="addTarefa()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>