<ion-header>
  <ion-navbar>
    <ion-title *ngIf='!ambiente._id'><span class="colortitle">Novo ambiente</span></ion-title>
    <ion-title *ngIf='ambiente._id'><span class="colortitle">Editar ambiente</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>   

  <ion-list>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="ambiente.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Endereço API Rest</ion-label>
      <ion-input type="text" [(ngModel)]="ambiente.endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Fase</ion-label>
      <ion-select [(ngModel)]="ambiente.fase" cancelText="Cancelar" okText="Salvar">
        <ion-option value="Homologação">Homologação</ion-option>
        <ion-option value="Pré-Produção">Pré-Produção</ion-option>
        <ion-option value="Produção">Produção</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div align="middle">
    <button ion-button (click)="saveAmbiente()">Salvar</button>
    <button ion-button *ngIf='ambiente._id' (click)="deleteAmbiente()">Excluir</button>
  </div>
  
</ion-content>