<ion-header>
  <ion-navbar>
    <ion-title *ngIf='!mudanca._id'><span class="colortitle">Nova Mudança</span></ion-title>
    <ion-title *ngIf='mudanca._id'><span class="colortitle">Editar Mudança</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.title"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea autosize [(ngModel)]="mudanca.descricao"></ion-textarea>
    </ion-item> 

    <ion-item>
      <ion-label floating>Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.cliente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Responsável</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.responsavel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Contato</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.contato"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Codigo PAM</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.idPAM"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>SubTask PAM</ion-label>
      <ion-input type="text" [(ngModel)]="mudanca.idSubTaskPAM"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Ambientes</ion-label>
      <ion-select [(ngModel)]="mudanca.ambiente" multiple="true" cancelText="Cancelar" okText="Salvar">
        <ion-option *ngFor="let ambiente of ambientes" value="{{ambiente._id}}" >{{ambiente.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Empresas</ion-label>
      <ion-select [(ngModel)]="mudanca.empresa" multiple="true" cancelText="Cancelar" okText="Salvar">
        <ion-option *ngFor="let empresa of empresas" value="{{empresa._id}}" >{{empresa.title}}</ion-option>
      </ion-select>
    </ion-item>

    <!--<ion-item-divider class='item-divider'>
      Janela: {{janela.title}}
      <button ion-button icon-only (click)="alteraJanela()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-divider>-->

    <button ion-item class='item-divider' (click)="alteraJanela()">
      Janela: {{janela.title}}
    </button>
      
  </ion-list>

  <div align="middle">
    <button ion-button (click)="saveMudanca()">Salvar</button>
    <button ion-button *ngIf='mudanca._id' (click)="deleteMudanca()">Excluir</button>
  </div>
  
</ion-content>